header#mobile,
#mobile-menu {
    display: none;
}

header#desktop {
    background-color: #333;
    font-weight: 600;
    font-size: 18px;
    height: 85px;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
}

.cta {
    background-color: #aaa;
    color: #000;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 20px;
}

.cta:hover {
    background-color: #ccc;
    cursor: pointer;
}

.home-image {
    background-image: url('menu/home.jpg');
    height: 600px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #eee;
}

.home-image h1 {
    font-size: 42px;
}

.home-image h2 {
    font-size: 36px;
    color: #abdee9;
}

#logo {
    margin-left: 20px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin-right: 40px;
}

li {
    list-style: none;
    display: inline;
    padding: 20px;
    color: #fff;
    margin: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 10px;
}

.dropdown-content a {
    color: #fff;
    padding: 14px 18px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #666;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#servizi {
    width: 100%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#servizi>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 28%;
    height: 200px;
    margin: 15px;
    align-items: center;
}

#servizi div div:first-child {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 20px;
}

#servizi div div+div {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 0;
    margin: 0;
    width: 60%;
}

#servizi div div+div h4,
#servizi div div+div p {
    margin: 5px;
    padding: 0;
    width: 200px;
}

#servizi>div:first-child {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    margin: 40px 0 0 0;
    height: 50px;
}

#offerte {
    display: flex;
    margin: 0 0px 40px 0;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 1rem;
}

#offerte::-webkit-scrollbar {
    display: none;
}

.cartolina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 350px;
    background-color: #fefefe;
    margin: 25px;
    flex: 0 0 auto;
    transition: 400ms;
}

.cartolina:hover {
    box-shadow: 0 2px 26px 0 #689daa;
}

.cartolina img {
    width: 90%;
    margin-top: 20px;
}

.cartolina h4 {
    margin: 20px 0 5px 0;
    font-size: 20px;
}

.cartolina .prezzo {
    font-size: 20px;
    margin: 20px 0 0 0;
}

.cartolina .prezzo-intero {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 15px;
    margin: 10px;
}

.scopri-di-piu {
    background-color: #abdee9;
    width: 40%;
    color: #000;
    padding: 10px 6px;
    margin: 10px 0 40px 0;
    transition: 300ms;
}

.scopri-di-piu:hover {
    background-color: #689daa;
    cursor: pointer;
}

table td,
table th {
    padding: 8px;
    text-align: start;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
}

table {
    border-collapse: collapse;
    margin: 3px;
}

table tr td:first-child {
    text-align: end;
}


#marchi-partner {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

#marchi-partner h3 {
    margin: 40px 0 20px;
}

#marchi-partner div {
    display: flex;
    justify-content: center;
}

#marchi-partner img {
    width: 80px;
    margin: 20px 40px 40px 40px;
}

h3 {
    margin: 40px 0 15px 0;
    font-size: 26px;
}

body {
    font-family: Inter;
    margin: 0;
    padding: 0;
    background-color: #eee;
    text-align: center;
}

#filtro-ricerca {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12rem;
    background-color: #333;
    color: #fff;
}

#filtri {
    height: 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#filtri div {
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
}

#filtri select,
#filtri input {
    height: 50%;
    width: 100%;
}

#filtri select {
    height: 55%;
}

#filtri #search {
    width: 8%;
    height: 55%;
    background-color: #abdee9;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
}

#filtri #search:hover {
    background-color: #689daa;
    cursor: pointer;
}

#recensioni {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.blocco-recensione div {
    margin: 15px;
}

.blocco-recensione {
    width: 20rem;
    background-color: rgba(204, 204, 204, 0.3);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

footer {
    height: 480px;
    width: 100%;
    background-color: #333;
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #fff;
    text-align: start;
    margin: 5px 0 20px 0;
}

footer h3 {
    color: #ccc;
    font-size: 20px;
}

footer h4 {
    margin-bottom: 10px;
}

footer p {
    margin: 5px 0 20px 0;
}

footer ul,
footer li {
    padding: 0;
    text-decoration: underline;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 80%;
    margin: 0 20px;
    text-align: center;
    align-items: center;
}

#container div div {
    width: 40%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

#container table {
    margin: 15px 0 10px 0;
    padding: 0;
    width: 220px;
}

#container table td,
#container table th {
    margin: 0;
    text-align: center;
    width: 110px;
    height: 16px;
}

#container table tr:last-child td {
    border-bottom: none;
}

#container tr td:first-child {
    border-right: 1px solid #ccc;
}

#policy {
    width: 100%;
    font-size: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#policy p {
    text-align: center;
    margin: 0 20px 0 0;
}


#form-vendita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 0 0 40px 0;
    background-color: #333;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

#form-vendita input {
    height: 36px;
    margin: 6px;
    width: 170px;
    border-radius: 15px;
    border: 2px solid #333;
}

#form-vendita form {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding: 20px 10px;
    width: 45%;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

#form-vendita #titolo-form {
    margin: 20px 0 40px 0;
    font-size: 40px;
}

#form-vendita p {
    font-size: 20px;
    margin-bottom: 30px;
}

#link p {
    width: 100%;
    background: none;
    padding: 20px 0 0 0;
    margin-bottom: 10px;
}

#form-vendita a {
    color: #abdee9;
}

#vendita div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#check {
    display: flex;
    justify-content: center;
    align-items: center;
}

#check input {
    width: 18px;
    height: 18px;
    margin: 0 10px 0 0;
}

#check label {
    font-size: 14px;
}

#informativa {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 14px;
}

#form-vendita #select {
    padding: 8px;
    width: 170px;
    height: 40px;
    margin: 10px;
    background-color: #abdee9;
    color: #000;
    font-size: 17px;
    border: 2px solid #333;
    border-radius: 15px;
}

#form-vendita #select:hover {
    background-color: #689daa;
    cursor: pointer;
}


@media(max-width:900px) {

    #form-vendita form {
        width: 90%;
    }

    header#desktop,
    #mobile-menu {
        display: none;
    }

    .active {
        display: flex;
        width: 100vw;
    }

    .dropdown-content {
        display: none;
    }

    .dropdown.active .dropdown-content {
        display: block;
    }

    header#mobile {
        background-color: #333;
        height: 10vh;
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        color: #fff;
    }

    .home-image {
        background-image: url('/menu/home.jpg');
        height: 29vh;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #eee;
    }

    .home-image h1 {
        font-size: 26px;
    }

    .home-image h2 {
        font-size: 22px;
    }

    #logo {
        width: 130px;
    }

    #hamburger {
        width: 40px;
        height: 40px;
    }

    .cartolina {
        margin: 15px;
        width: 300px;
    }

    .cartolina:first-of-type {
        margin-left: 30px;
    }

    .cartolina:last-of-type {
        margin-right: 30px;
    }

    .cartolina:hover {
        width: 320px;
    }

    #filtro-ricerca {
        height: 570px;
    }

    #filtri div {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #filtri div input {
        width: 60%;
    }

    #filtri div select {
        width: 62%;
    }

    #filtro-ricerca #search {
        width: 30%;
        margin-top: 10px;
    }

    #marchi-partner div {
        flex-wrap: nowrap;
    }

    #marchi-partner img {
        width: 60px;
        margin: 30px;
    }

    #form-vendita #titolo-form {
        font-size: 35px;
        width: 100%;
    }

    #form-vendita form {
        margin-bottom: 30px;
    }

    #form-vendita form{
        width: 90%;
        padding-right: 10px;
        padding-left: 10px;
    }

    #vendita select {
        width: 42%;
    }

    #vendita label {
        font-size: 16px;
    }

    form button#select {
        width: 100%;
    }

    #servizi {
        width: 100%;
        background-color: #ddd;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #servizi img {
        width: 50px;
        height: 50px;
    }

    #servizi>div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
        height: 20vh;
        margin: 10px;
        align-items: center;
    }

    #servizi div div:first-child {
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 95px;
        height: 95px;
        margin: 20px;
    }

    #servizi div div+div {
        display: flex;
        flex-direction: column;
        text-align: start;
        padding: 0;
        margin: 0;
        width: 60%;
    }

    #servizi div div+div h4,
    #servizi div div+div p {
        margin: 5px;
        padding: 0;
    }

    #servizi>div:first-child {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 26px;
        margin: 40px 0 0 0;
        height: 4vh;
    }

    #servizi h3 {
        margin: 15px 0 20px 0;
    }

    footer {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #container div {
        width: 50%;
        margin-bottom: 24px;
    }

    #policy {
        display: flex;
        flex-direction: column;
    }

    #policy p,
    #policy ul {
        margin: 0 0 20px 0;
    }

    #marchi-partner div {
        overflow-x: auto;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }

    #marchi-partner div::-webkit-scrollbar {
        display: none;
    }

    #recensioni-wrapper::-webkit-scrollbar {
        display: none;
    }

    #recensioni-wrapper {
        overflow-x: auto;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        max-width: 100%;
    }
    
    #recensioni {
        display: flex;
        flex-wrap: nowrap;
        gap: 1rem;
        width: max-content;
    }
    
    .blocco-recensione {
        flex: 0 0 auto;
    }

    .blocco-recensione:first-of-type {
        margin-left: 30px;
    }

    .blocco-recensione:last-of-type {
        margin-right: 30px;
    }
}

@font-face {
    font-family: Inter;
    src: url('/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}